<!DOCTYPE html>
<html lang="en" ng-app="CompanyProfile">
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="/assets/css/materialize.min.css"
      media="screen,projection"
    />

    <!-- my CSS -->
    <link rel="stylesheet" href="/css/style.css" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Portfolio</title>
  </head>

  <body ng-controller="Portfoliocontroller">
    <!-- navbar -->
    <div class="navbar-fixed">
      <nav class="nav-wrapper purple darken-1">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Selamat Datang Admin | <b>WMA</b></a>
          <ul class="right hide-on-med-and-down">
            <li>
              <div class="nav-wrapper">
                <form>
                  <div class="input-field">
                    <input id="search" type="search" required />
                    <label class="label-icon" for="search"
                      ><i class="material-icons">search</i></label
                    >
                    <i class="material-icons">close</i>
                  </div>
                </form>
              </div>
            </li>
            <li>
              <a href="#"
                ><i
                  class="material-icons"
                  data-toggle="tooltip"
                  title="Notifikasi"
                  >notifications</i
                ></a
              >
            </li>
            <li>
              <a href="#"
                ><i
                  class="material-icons"
                  data-toggle="tooltip"
                  title="Surat Masuk"
                  >message</i
                ></a
              >
            </li>
            <li>
              <a href="/"
                ><i
                  class="material-icons"
                  data-toggle="tooltip"
                  title="Sign Out"
                  >logout</i
                ></a
              >
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <!-- sidebar -->
    <div class="row no-gutters">
      <div class="col m2 s12 grey darken-2">
        <nav>
          <div class="nav flex-column">
            <ul class="hide-on-med-and-down">
              <li class="nav-item">
                <a class="nav-link white-text" href="/admin">Dashboard</a>
              </li>
              <li class="nav-item">
                <a href="/about" class="white-text nav-link"
                  >Setting About us</a
                >
                <hr class="grey lighten" />
              </li>
              <li class="nav-item">
                <a href="/servis" class="white-text nav-link">Daftar Service</a>
                <hr class="grey lighten" />
              </li>
              <li class="nav-item">
                <a href="/portfolio" class="white-text nav-link"
                  >Data Portfolio</a
                >
                <hr class="grey lighten" />
              </li>
              <li class="nav-item">
                <a href="/tim" class="white-text nav-link">Data Team</a>
                <hr class="grey lighten" />
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <!-- content -->
      <div class="col m10 s12">
        <h3 class="dash">
          <i class="medium material-icons left">photo_library</i>EDIT Portfolio
        </h3>
        <section>
          <div class="card-panel">
            <div class="row">
              <form
                class="col s12"
                action="{{'/portofolio/'+editData._id}}"
                method="POST"
                enctype="multipart/form-data"
              >
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix left"
                      >account_circle
                      <input
                        id="in-gambar"
                        type="file"
                        required
                        name="gambar"
                        accept=".jpg,.jpeg,.png"
                      />
                    </i>
                    <label for="gambar"></label>
                  </div>
                </div>
                <div class="row" style="margin-top: 3rem;">
                  <div class="col s12 m7">
                    <div class="card">
                      <div class="card-image">
                        <img
                          src="{{'/img/port/'+editData.gambar}}"
                          width="30%"
                        />
                        <span class="card-title">{{editData.gambar}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <button
                      class="btn cyan waves-effect waves-light right"
                      type="submit"
                      name="action"
                    >
                      EDIT
                      <i class="mdi-content-send right"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
    </div>

    <script type="text/javascript" src="/assets/js/materialize.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var elems = document.querySelectorAll(".modal");
        var instances = M.Modal.init(elems);
      });
    </script>
    <script src="/assets/angular.min.js"></script>
    <script src="/app/controller/portfolio.js"></script>
  </body>
</html>
